/* Comun en todas las paginas */
body { /* Poner la tipografia y un color de fondo */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-image: url(../imagenes/image/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;                               
  } 

/* Menu Cabecera */
  #imgcabecera {
    width: 100%;
  }
  img #IconoMenu{
    width: 30px;
    height: 30px;
    border: 1px #4A3C00 solid;
  }
  header { /* El header ponerle un ancho */
    width: 100%;
  }
  #responsive_menu { /* Ocultar los efectos visuales que tiene el inputo por defecto El checbox */
    display: none;
  }
  header label {/* Ubicar el icono y darle un ancho y un alto, ademas ocultarlo ya que abajo lo pondre para que se vea en un espesifico momento */
    display: none;
    width: 30px;
    height:  30px;
    padding: 10px;
    border-right: 1px black solid;
  }
  header label:hover { /*Cuando pasemos el mause y fondo */
    cursor: pointer; /* cuando al pasar el cursor por el icono el simbolito de raton cambie a una manito */
    background-color:rgba(0,0,0,0.3)
  }
  
  .menu ul { /* quitar estilos de las tablas y hacer que los links sean flexibles y los coloque en fila */
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .menu li { /*Distribuir uniformemente el citio ocupado por los links y los centramos*/
    flex-grow: 1;
    text-align: center;
    border: 1px solid #00000D;
  }
  /*-----------------------------------Queria añadir un submenu pero nolo di mostrado asi que primer contratiempo.
  .menu ul li #submenu {
      display:none;
  }
  -------------------------------------*/
  .menu li:hover { /*Al pasar con el raton por encima que se vuelva transparente*/
    background-color: rgba(1,0,0,0.3);
  }
  .menu li {
    background-color: rgba(0,1,1,0.5);
  }
  .menu li a {/*Padding de x=30px y=50px y ponerlos en bloque*/
    display: block;
    padding:30px 50px;
    color: #00000D;
    text-decoration: none;
    font-size: 1.6em;   
  }
  
  /* Añadir estilo a las migas de pan 
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }*/
  
  /* Quitar los efectos visuales de las listas
  ul.breadcrumb li {
    display: inline;
    font-size: 12px;
  }*/
  
  /* Añadir un simbolo "/" para separar las migas de pan
  ul.breadcrumb li:before {
    padding: 8px;
    color: #0026ff;
    content: "/\00a0";
  }*/
  
  /* Añadir colores a los links y quitar su decoracion
  ul.breadcrumb li a {
    text-decoration: none;
  }*/
  
  /* Resaltar al pasar con el raton
  ul.breadcrumb li a:hover {
    color: #000000;
    text-decoration: underline;
  }*/

  /* Footer(pie) */
  footer { /* Color de fond alinee en el centro y le puse distinta tipografia, limpiar el float y un pequeño padding and margin */
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    clear: left;
    border: #4A3C00 solid 1px;
}
/* Fin de Comun en todas las paginas */
/* -------------------------------------------------------------------------- */
/* Pagina Principal */
main#principal { /* Añadir un ancho , un margen por arriba, alinearlo y que flote a la izquierda */
    width: 80%;
    margin-top:20px;
    text-align: center;
    float: left;
    border: #4A3C00 solid 1px;
    }
main#principal #primera-seccion { /* (Quise hacerla tipo overplay pero necesitaba js y no se usarlo) Ponerle un ancho, poner imagen de fondo, posicionarla,ponerle borde */
    width: 100%;
    background-image: url(../imagenes/productos/mariscos/gambaGrande.jpg);
    background-repeat: no-repeat ;
    background-position: center;
    font-style:italic;
    text-decoration:violet;
    font-size: 17px;
    border: #4A3C00 solid 1px;
}
#oferta {
    width: 100%;
}
#oferta a {
  text-decoration: none;
}
      
#oferta a:hover {
    cursor: pointer;
    background-color: mediumblue;
    color: #ffffff;
}

main#principal #segunda-seccion .imagenes-sec2 {/* le doy alto y ancho a las images, posicion statica y las acomode un poco y un borde transparente */
    width: 200px;
    height: 147px;
    position: static;
    top: 10px;
    left: -40px;
    border: 1px solid rgba(0,0,0,0.3);
  }
  
main#principal #segunda-seccion { /* Tipografia */
    font-family:monospace;
    width: 100%;
    clear: left;
    border: #4A3C00 solid 1px;
  }
main#principal section div { /* Ubicar un poco el div para que se parescan entre si y ponerles un ancho mx */
    padding-top: 5px;
    vertical-align: middle; 
    display:inline-table;
    width: 28%;
}

/* Comienzo del aside pag principal */
aside { /* Hacerle flotar a la derecha, poner padding/margin, un borde y posicionarlo estatico */
    float: right;
    padding: 5px;
    margin: 10px;
    border: #4A3C00 solid 2px;
  }
 .lateral ul { /* quitar estilos de las tablas y hacer que los links sean flexibles y los coloque en fila */
    list-style: none;
    padding: 0;
    display: block;
  }
.lateral li:hover {
    background-color: rgba(0,0,0,0.3);
  }
.lateral li a {/*Padding de x=30px y=50px*/
    padding:30px 50px;
    color: #00000D;
    text-decoration: none;
  }
/* Fin del aside */
/* Fin de la Pagina Principal */
/*------------------------------------------------------------------------*/
/*--- Pagina Cuenta ---*/
main#cuenta {
    width: 100%;
  }
main#cuenta form {
    text-align: left;
  }
main#cuenta form fieldset legend {
    background-color: #b89809;
    padding: 5px;
    border: 1px solid #4A3C00;
  }
/* Fin Pagina Cuenta */
/*------------------------------------------------------------------------*/
/* Comienzo pagina Contacto */
main#contactos {
    width: 100%;
    text-align: left;
    clear: left;
  } 
main#contactos section div p {
    padding-left: 30px;
  }
  main#contactos section div p a {
    text-decoration: none;
  }
 
main#contactos h1 {
    padding-left: 5px;
  }
main#contactos img {
    padding: 10px;
  }
/* Fin pagina Contacto */
/* Comienzo pagina Todos los productos */

main#todosproductos section{
  width: 100%;
  text-align: center;
}
main#todosproductos section h1 {
  font-size: 2em;
  padding: 5px;
}
main#todosproductos section div {
  width: 49%;
  float: left;
}
main#todosproductos section div p a {
  text-decoration: none;
}
main#todosproductos section div p a:hover {
  background-color: rgba(1,0,0,0.3);
  cursor: pointer;
}
/* Fin pagina Todos los productos */
/* Empieza el producto aceites */
main#aceit section {
  width: 30%;
  text-align: center;
  float:left;
  margin: 3px;
}
main#aceit h1 {
  text-align: center;
}
main#aceit section a {
  text-decoration: none;
}
main#aceit section a:hover {
  background-color:rgba(0,0,0,0.3)
}

/* fin el producto aceites */
/*------------------------------------------------------------------------*/
/* @media editions version tablet?¿ */
/* Cabecera */
@media (max-width:768px){ /*Cuando el ancho maximo de la pantalla sea 768 pixeles ocurrira todo lo que pondre dentro*/

    header label { /* Quitamos el display none por el block, patra mostrarlos en bloque */
      display: block;
    }
    .menu{ /* Posicionamos absolutamente y ponemos color de fondo, margin -70 para que no aparezca en pantalla y mostrarlo al hacer click en el menu*/
      position: absolute;
      width: 70%;
      margin-left: -70%;
      transition: all 1s;
    }
   
    .menu ul{ /* Posicionamos absolutamente y ponemos color de fondo */
      flex-direction: column;
    }
    .menu li { /* Añadir un borde */
      border-top:1px solid black;
    }
    .menu li a { /* Quitar la decoracion de los links, añadirle color de letra y ponerle padding */
    padding:15px 40px;
    color: #00000D;
    text-decoration: none;
    }
  
    #responsive_menu:checked ~ .menu{ /* Cuando al icono este checekd buscara asta encontrar la clase menu, Que es la clase que oculte antes con -70*/
      margin: 0;
    }
  }
/* Cabecera Fin */
/* Pagina Principal */

@media (max-width:768px) {/*Cuando el ancho maximo de la pantalla sea 768 pixeles ocurrira todo lo que pondre dentro*/
    main#principal #primera-seccion { /* darle ancho poner una imagen de fondo, centrarla, darle una fuente y darle un tamaño de letra */
      width: 100%;
      background-image: url(../imagenes/productos/mariscos/gambaGrande.jpg);
      background-repeat: no-repeat ;
      background-position: center;
      font-style:italic;
      text-decoration:violet;
      font-size: 15px;
    }
    #oferta { /* Que coja el ancho total */
    width: 100%;
    }
  }

@media (max-width:768px){ /*Cuando el ancho maximo de la pantalla sea 768 pixeles ocurrira todo lo que pondre dentro*/
  
    main#principal { /*Cambie el width de 60% a 100% el resto es igual que la version grande */
      font-family:monospace;
      width: 100%;
      margin-top:30px;
      text-align: center;
      padding: 1px;
      }
    main#principal #segunda-seccion .imagenes-sec2 { /* Dar ancho/alto a las imagenes y posicionarlas estaticamente */
        width: 200px;
        height: 147px;
        position: static;
        top: 10px;
        left: -40px;
      }
    main#principal #segunda-seccion { /* Ponerles una tipografia distinta */
        font-family:monospace; 
        font-size: 15px;
      }
      section div { /* Ubicar los div */
        padding-top: 5px;
        vertical-align: middle; 
        display:inline-table;
        margin: 5px;
      }
  } 

/*Empieza aside "Pagina Principal"*/
@media (max-width:768px){
    aside { /* Ocultar el menu con las Categorias */
      display: none;
    }
  }
/* Termina aside */
/* Termina Pagina Principal */

/* Pagina todos los productos */
main#todosproductos section{
  width: 100%;
  text-align: center;
}
main#todosproductos section div {
  width: 48%;
  float: left;
}
/* fin Pagina todos los productos */

/* @media editions Fin */